   <div class="box">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <legend>用户登录</legend>
        <div><%= f.label :login %><i>(可以使用username或email)</i><br />
                  <%= f.text_field :login %></div>

         <div><%= f.label :password %><br />
                  <%= f.password_field :password %>
         </div>

  <% if devise_mapping.rememberable? -%>
    <div>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
    </div>
   <% end  -%>

             <div class="actions">
                    <%=button_tag '登录',:class=> 'btn primary' %><%= link_to '返回', root_path, :class => 'btn' %>
             </div>
                    <% end %>
      </fieldset>
  </div>
